@charset "UTF-8";

html, body, ul, ol, li, h1, h2, h3, h4, h5, h6, p, form, input, div {
  margin: 0;
  padding: 0;
}

body {
  display: block;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
}

.main-story {
  position: relative;
  margin: 0 0 25px 0;
}

img {
  display: block;
}

a {
  color: lightblue;
}

.story-intro {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);
  color: white;
}

h1 {
   font-size: 4em;
}

h1, h2 {
  margin: 0 0 10px 0;
}

.story-intro p {
  margin: 0;
}

.sub-stories {
  margin: 0 0 25px 0;
}

.sub-story {
  position: relative;
  font-size: 80%;
}

.last {
  margin-right: 0;
}


/*
* media query settings
*/
/* for iPhone 5 */
@media (min-width: 320px) {
  .page-wrap {
    width: 320px;
    margin: 20px auto;
  }

  .page-wrap h1 {
    margin: 0 0 0 10px;
  }

  .page-wrap p {
    margin: 0 0 10px 10px;
  }

  .story-intro h1 {
    font-size: 1.2em;
  }

  .story-intro {
    padding: 10px 10px 2px 10px;
    width: 95%;
    margin: 0 0 0 10px;
  }

  .sub-story {
    width: 78vw;
    margin: 20px 0 20px 40px;
  }

  .sub-stories {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .sub-stories .story-intro {
    width: 100%;
    margin: 0;
  }

  .main-story img {
    width: 95vw;
    margin: 0 0 0 10px;
  }
}

/* for Galaxy S5 */
@media (min-width: 360px) {
  .story-intro h1 {
    font-size: 1.2em;
  }

  .story-intro {
    padding: 10px 10px 2px 10px;
  }

  .sub-story {
    width: 69.5vw;
    margin: 20px 0 20px 40px;
  }

  .main-story img {
    width: 84.5vw;
  }
}

/* for iPhone 6 */
@media (min-width: 375px) {
  .page-wrap {
    width: 375px;
    margin: 20px auto;
  }

  .story-intro h1 {
    font-size: 1.25em;
  }

  .story-intro {
    padding: 10px 10px 2px 10px;
  }

  .sub-story {
    width: 67vw;
    margin: 20px 0 20px 60px;
  }

  .sub-stories {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .main-story img {
    width: 95vw;
  }
}

/* for Nexus 5X & 6P */
@media (min-width: 412px) {
  .story-intro h1 {
    font-size: 1.2em;
  }

  .story-intro {
    padding: 10px 10px 2px 10px;
  }

  .sub-story {
    width: 60.5vw;
    margin: 20px 0 20px 60px;
  }

  .main-story img {
    width: 86.5vw;
  }
}

/* for iPhone 6 Plus */
@media (min-width: 414px) {
  .story-intro h1 {
    font-size: 1.2em;
  }

  .story-intro {
    padding: 10px 10px 2px 10px;
  }

  .main-story .story-intro {
    width: 94%;
    margin: 0 0 0 10px;
  }

  .sub-story {
    width: 60.5vw;
    margin: 20px 0 20px 60px;
  }

  .main-story img {
    width: 85vw;
  }
}

/* for iPad */
@media (min-width: 768px) {
  .page-wrap {
    width: 768px;
    margin: 20px auto;
  }

  .story-intro h1 {
    font-size: 2.5em;
  }

  .story-intro {
    padding: 20px;
    width: 98.5%;
    margin: 0;
  }

  .main-story .story-intro {
    width: 97%;
    margin: 0 0 0 10px;
  }

  .sub-story {
    margin: 0 2px 0 2px;
    width: 100vw;
  }

  .sub-stories {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }

  .main-story img {
    width: 97vw;
  }
}

/* for iPad Pro */
@media (min-width: 1024px) {
  .page-wrap {
    width: 800px;
    margin: 20px auto;
  }

  .story-intro h1 {
    font-size: 2.5em;
  }

  .story-intro {
    padding: 20px;
    width: 100%;
  }

  .main-story .story-intro {
    width: 101%;
    margin: 0;
  }

  .sub-story {
    margin-right: 25px;
    width: 100vw;
  }

  .sub-stories {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }

  .main-story img {
    width: 79vw;
    margin: 0;
  }
}

/* for laptop */
@media (min-width: 1200px) {
  .page-wrap {
    width: 800px;
    margin: 20px auto;
  }

  .story-intro h1 {
    font-size: 2.5em;
  }

  .story-intro {
    padding: 20px;
    width: 100%;
  }

  .main-story .story-intro {
    width: 100.6%;
    margin: 0;
  }

  .sub-story {
    margin-right: 25px;
    width: 100vw;
  }

  .sub-stories {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }

  .main-story img {
    width: 63vw;
    margin: 0;
  }
}
