@charset "UTF-8";

html, body, ul, ol, li, h1, h2, h3, h4, h5, h6, p, form, input, div {
  margin: 0;
  padding: 0;
}

body {
  display: block;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

ul {
  list-style:none;
}

.page-wrap {
  width: 840px;
  margin: 20px auto;
}

.content
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
}

.description img
{
  width: 360px;
  margin-right: 20px;
}

img {
  display: block;
}

.card
{
  width:360px;
  height: 460px;
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  border-radius: 6px;
}


/*
* top logos
*/
.top-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  margin: 18px 10px 20px 5px;
  padding: 10px 20px 10px 15px;
}

.top-logo li:first-child {
  margin-right: auto;
}


/*
* cover images
*/
.cover-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  margin: 10px 10px 10px 10px;
  padding: 0 0 0 15px;
}

.lion {
  border-radius: 900px;
  -webkit-border-radius: 900px;
  -moz-border-radius: 900px;

  width: 70px;
  height: 70px;
}

.arrow {
  padding: 0 5px 0 5px;
}

.man {
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;

  width: 70px;
  height: 70px;
}


/*
* cover labels
*/
.label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  padding: 5px 25px 10px 20px;
}

.label li:first-child {
  margin-right: auto;
}

.cover-label p {
  font-size: 10px;
  font-weight: 100;
  color: #999999;
  padding: 0 0 5px 10px;
}

.cover-label h4 {
  font-size: 9px;
  font-weight: 600;
  color: rgb(187, 185, 189);
  width: 110px;
  text-align: center;
}

.abrakadabra h4 {
  color: #192f60;
  border-style : solid;
  border-width : thin;

  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;

  padding : 1px 0 1px 0;
  border-color: #8da0b6;
}

.abrakadabra p {
  padding-left: 0;
}

.bimbambim h4 {
  color: #622d18;
  border-style : solid;
  border-width : thin;

  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;

  padding : 1px 0 1px 0;
  border-color: #ece093;
}

.bimbambim p {
  text-align: right;
}


/*
* main body
*/
.main-body {
  margin: 25px 20px 20px 20px;
}

.body-title {
  color: #3f3f3f;
  padding: 0 0 10px 0;
}

.body-part {
  color: #797979;
  font-size: 14.5px;
  line-height: 130%;
}

/*
* footer
*/
.footer-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  padding: 5px 25px 10px 20px;
  margin: 40px 0 20px 0;
}

.footer-btn li:first-child {
  margin-right: auto;
}

.footer-btn button {
  font-size: 14px;
  border-style: none;
}

.help-btn {
  color: #00608d;
  background-color: white;
  padding : 7px 10px 7px 10px;
  cursor: pointer;
}

.config-btn {
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;

  color: white;
  font-weight: 500;
  background-color: #006699;
  padding : 7px 10px 7px 10px;
  cursor: pointer;
}
